# PersistentVolumeClaim para PostgreSQL usando EBS en AWS
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pvc
  namespace: news-colcap
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
  storageClassName: gp3  # AWS EBS gp3 (mas economico y rapido que gp2)
